/* src/index.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styles de base Tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';